<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:compileSdkVersion="35" android:compileSdkVersionCodename="15" package="net.omobio.robisc" platformBuildVersionCode="35" platformBuildVersionName="15">
    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:maxSdkVersion="28" android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="com.google.android.gms.permission.AD_ID"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK"/>
    <queries>
        <intent>
            <action android:name="org.chromium.intent.action.PAY"/>
        </intent>
        <intent>
            <action android:name="org.chromium.intent.action.IS_READY_TO_PAY"/>
        </intent>
        <intent>
            <action android:name="org.chromium.intent.action.UPDATE_PAYMENT_DETAILS"/>
        </intent>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.OPEN_DOCUMENT_TREE"/>
        </intent>
        <intent>
            <action android:name="com.google.android.youtube.api.service.START"/>
        </intent>
        <package android:name="com.facebook.katana"/>
        <package android:name="com.google.android.apps.maps"/>
    </queries>
    <uses-permission android:name="android.permission.WRITE_CONTACTS"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM"/>
    <uses-permission android:name="android.permission.USE_BIOMETRIC"/>
    <uses-permission android:name="android.permission.USE_FINGERPRINT"/>
    <uses-feature android:glEsVersion="0x00020000" android:required="true"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="com.google.android.finsky.permission.BIND_GET_INSTALL_REFERRER_SERVICE"/>
    <uses-permission android:name="android.permission.ACCESS_ADSERVICES_ATTRIBUTION"/>
    <uses-permission android:name="android.permission.ACCESS_ADSERVICES_AD_ID"/>
    <uses-permission android:name="android.permission.ACCESS_ADSERVICES_CUSTOM_AUDIENCE"/>
    <uses-permission android:name="android.permission.ACCESS_ADSERVICES_TOPICS"/>
    <permission android:name="net.omobio.robisc.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION" android:protectionLevel="signature"/>
    <uses-permission android:name="net.omobio.robisc.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION"/>
    <application android:allowBackup="true" android:appComponentFactory="androidx.core.app.CoreComponentFactory" android:backupAgent="com.portonics.robi_airtel_super_app.data.backup.DataBackupAgent" android:dataExtractionRules="@xml/data_extraction_rules" android:fullBackupContent="@xml/backup_rules" android:fullBackupOnly="false" android:hardwareAccelerated="true" android:icon="@mipmap/ic_launcher" android:label="@string/app_name" android:largeHeap="true" android:name="com.portonics.robi_airtel_super_app.RobiAirtelSuperApplication" android:networkSecurityConfig="@xml/network_security_config" android:requestLegacyExternalStorage="true" android:resizeableActivity="true" android:roundIcon="@mipmap/ic_launcher_round" android:supportsRtl="true" android:theme="@style/Theme.RobiAirtelSupercApp" android:usesCleartextTraffic="false">
        <provider android:authorities="net.omobio.robisc.provider" android:exported="false" android:grantUriPermissions="true" android:name="androidx.core.content.FileProvider">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/filepaths"/>
        </provider>
        <service android:exported="false" android:name="com.portonics.robi_airtel_super_app.services.RasaFcmService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <activity android:configChanges="locale" android:exported="true" android:name="com.portonics.robi_airtel_super_app.ui.SplashActivity" android:screenOrientation="portrait" android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="https"/>
                <data android:host="@string/deeplink_host1"/>
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="https"/>
                <data android:host="@string/deeplink_host2"/>
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="https"/>
                <data android:host="@string/deeplink_host3"/>
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="https"/>
                <data android:host="@string/deeplink_host4"/>
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="https"/>
                <data android:host="@string/deeplink_host5"/>
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="http"/>
                <data android:scheme="https"/>
                <data android:host="@string/adjust_deeplink_host"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="@string/custom_scheme"/>
                <data android:host="*"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="locale|orientation|uiMode|screenSize|layoutDirection" android:exported="true" android:name="com.portonics.robi_airtel_super_app.ui.HomeActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize" android:name="com.facebook.FacebookActivity" android:theme="@style/com_facebook_activity_theme"/>
        <activity android:exported="true" android:name="com.facebook.CustomTabActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="fb1474545815988166"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="cct.net.omobio.robisc" android:scheme="fbconnect"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="orientation|screenSize" android:name="com.portonics.robi_airtel_super_app.ui.features.in_app_web_view.InAppBrowserActivity" android:theme="@style/Theme.RobiAirtelSupercApp.FullScreen"/>
        <service android:enabled="false" android:exported="false" android:name="androidx.appcompat.app.AppLocalesMetadataHolderService">
            <meta-data android:name="autoStoreLocales" android:value="true"/>
        </service>
        <receiver android:exported="true" android:name="com.portonics.robi_airtel_super_app.domain.alarm.AzanReceiver"/>
        <receiver android:exported="true" android:name="com.portonics.robi_airtel_super_app.domain.alarm.AlarmPermissionReceiver">
            <intent-filter>
                <action android:name="android.app.action.SCHEDULE_EXACT_ALARM_PERMISSION_STATE_CHANGED"/>
            </intent-filter>
        </receiver>
        <service android:exported="false" android:foregroundServiceType="mediaPlayback" android:name="com.portonics.robi_airtel_super_app.domain.alarm.AzanService"/>
        <provider android:authorities="net.omobio.robisc.downloaded_files" android:exported="false" android:grantUriPermissions="true" android:name="androidx.core.content.FileProvider">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/file_paths"/>
        </provider>
        <provider android:authorities="net.omobio.robisc.androidx-startup" android:exported="false" android:name="androidx.startup.InitializationProvider">
            <meta-data android:name="com.portonics.robi_airtel_super_app.initializers.AppInitializer" android:value="androidx.startup"/>
            <meta-data android:name="com.portonics.robi_airtel_super_app.initializers.DebugInitializer" android:value="androidx.startup"/>
            <meta-data android:name="androidx.emoji2.text.EmojiCompatInitializer" android:value="androidx.startup"/>
            <meta-data android:name="androidx.lifecycle.ProcessLifecycleInitializer" android:value="androidx.startup"/>
            <meta-data android:name="androidx.profileinstaller.ProfileInstallerInitializer" android:value="androidx.startup"/>
        </provider>
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="\ 1474545815988166"/>
        <meta-data android:name="com.facebook.sdk.ClientToken" android:value="e14e616b93a479d59860a2a59910db46"/>
        <meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyC5a2C4FeQdR6BkK1INETXIu1aSxFay0DE"/>
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
        <meta-data android:name="com.google.firebase.messaging.default_notification_icon" android:resource="@drawable/notification_icon"/>
        <meta-data android:name="CLEVERTAP_ACCOUNT_ID" android:value="@string/clevertap_id"/>
        <meta-data android:name="CLEVERTAP_TOKEN" android:value="@string/clevertap_token"/>
        <meta-data android:name="CLEVERTAP_REGION" android:value="sg1"/>
        <meta-data android:name="CLEVERTAP_INAPP_EXCLUDE" android:value=".ui.SplashActivity"/>
        <meta-data android:name="com.google.firebase.messaging.default_notification_color" android:resource="@color/notification_background_color"/>
        <meta-data android:name="CLEVERTAP_NOTIFICATION_ICON" android:value="notification_icon"/>
        <meta-data android:name="android.app.PENDING_INTENT_MUTABILITY" android:value="FLAG_IMMUTABLE"/>
        <activity android:configChanges="locale" android:exported="false" android:launchMode="singleTop" android:name="com.onmobile.rbtsdkui.activities.MyRBTActivity" android:screenOrientation="portrait" android:theme="@style/App.NoActionBarAppTheme.Light"/>
        <activity android:configChanges="locale" android:exported="false" android:launchMode="singleTop" android:name="com.onmobile.rbtsdkui.activities.ManageActivity" android:screenOrientation="portrait" android:theme="@style/App.NoActionBarAppTheme.Light"/>
        <activity android:configChanges="locale" android:exported="false" android:launchMode="singleTop" android:name="com.onmobile.rbtsdkui.activities.HomeActivity" android:screenOrientation="portrait" android:theme="@style/App.NoActionBarAppTheme.Light" android:windowSoftInputMode="adjustNothing"/>
        <activity android:configChanges="locale" android:exported="false" android:launchMode="singleTop" android:name="com.onmobile.rbtsdkui.preview.PreBuyActivity" android:screenOrientation="portrait" android:theme="@style/App.NoActionBarAppTheme.Light"/>
        <activity android:configChanges="locale" android:exported="false" android:name="com.onmobile.rbtsdkui.activities.StoreContentActivity" android:screenOrientation="portrait" android:theme="@style/App.NoActionBarAppTheme.Light"/>
        <activity android:configChanges="locale" android:exported="false" android:name="com.onmobile.rbtsdkui.activities.PreBuyRecommendationActivity" android:screenOrientation="portrait" android:theme="@style/App.NoActionBarAppTheme.Light"/>
        <activity android:configChanges="locale" android:exported="false" android:launchMode="singleTop" android:name="com.onmobile.rbtsdkui.shuffle.MusicShuffleSeeAllActivity" android:screenOrientation="portrait" android:theme="@style/App.NoActionBarAppTheme.Light"/>
        <activity android:configChanges="locale" android:exported="false" android:launchMode="singleTop" android:name="com.onmobile.rbtsdkui.activities.ProfileTuneSeeAllActivity" android:screenOrientation="portrait" android:theme="@style/App.NoActionBarAppTheme.Light"/>
        <activity android:configChanges="locale" android:exported="false" android:launchMode="singleTask" android:name="com.onmobile.rbtsdkui.tunelang.TuneLanguageSelectionActivity" android:screenOrientation="portrait" android:theme="@style/App.NoActionBarAppTheme.Light"/>
        <activity android:configChanges="locale" android:exported="false" android:launchMode="singleTop" android:name="com.onmobile.rbtsdkui.activities.RBTSDKSearchActivity" android:screenOrientation="portrait" android:theme="@style/App.NoActionBarAppTheme.Light" android:windowSoftInputMode="adjustNothing"/>
        <activity android:configChanges="locale" android:launchMode="singleTop" android:name="com.onmobile.rbtsdkui.activities.ContactViewActivity" android:screenOrientation="portrait" android:theme="@style/App.NoActionBarAppTheme.Light"/>
        <activity android:configChanges="locale" android:exported="false" android:launchMode="singleTop" android:name="com.onmobile.rbtsdkui.shuffle.DynamicShuffleChartActivity" android:screenOrientation="portrait" android:theme="@style/App.NoActionBarAppTheme.Light"/>
        <activity android:configChanges="locale" android:exported="false" android:launchMode="singleTop" android:name="com.onmobile.rbtsdkui.activities.MyAccountActivity" android:screenOrientation="portrait" android:theme="@style/App.NoActionBarAppTheme.Light"/>
        <activity android:configChanges="locale" android:exported="false" android:launchMode="singleTop" android:name="com.onmobile.rbtsdkui.activities.SearchSeeAllActivity" android:screenOrientation="portrait" android:theme="@style/App.NoActionBarAppTheme.Light"/>
        <activity android:configChanges="locale" android:exported="false" android:name="com.onmobile.rbtsdkui.activities.ArtistSeeAllActivity" android:screenOrientation="portrait" android:theme="@style/App.NoActionBarMaterialTheme.Light"/>
        <activity android:configChanges="locale" android:exported="false" android:launchMode="singleTop" android:name="com.onmobile.rbtsdkui.activities.NameTuneSeeAllActivity" android:screenOrientation="portrait" android:theme="@style/App.NoActionBarAppTheme.Light" android:windowSoftInputMode="adjustNothing"/>
        <meta-data android:name="android.max_aspect" android:value="2.1"/>
        <activity android:configChanges="locale" android:name="com.zoloz.webcontainer.WebCActivity" android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:name="com.zoloz.android.phone.zdoc.activities.FalconCardNativeActivityNew" android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name="com.alipay.zoloz.zface.ui.ZFaceActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar"/>
        <service android:enabled="true" android:exported="false" android:name="androidx.core.app.LogServiceInToolsProcess" android:permission="android.permission.BIND_JOB_SERVICE" android:process=":tools"/>
        <activity android:name="com.github.dhaval2404.imagepicker.ImagePickerActivity" android:screenOrientation="unspecified" android:theme="@style/Theme.Transparent.ImagePicker"/>
        <activity android:name="com.yalantis.ucrop.UCropActivity" android:screenOrientation="portrait" android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <provider android:authorities="net.omobio.robisc.imagepicker.provider" android:exported="false" android:grantUriPermissions="true" android:name="com.github.dhaval2404.imagepicker.ImagePickerFileProvider">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/image_picker_provider_paths"/>
        </provider>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:exported="false" android:hardwareAccelerated="true" android:launchMode="singleTask" android:name="com.gakk.noorlibrary.ui.activity.podcast.PodcastActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar" android:windowSoftInputMode="adjustPan"/>
        <receiver android:exported="true" android:name="androidx.media.session.MediaButtonReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON"/>
            </intent-filter>
        </receiver>
        <service android:exported="false" android:foregroundServiceType="mediaPlayback" android:name="com.gakk.noorlibrary.callbacks.libs.media3.QuranPlayer"/>
        <meta-data android:name="com.google.android.gms.ads.APPLICATION_ID" android:value="ca-app-pub-9404399068795386~3681559635"/>
        <activity android:configChanges="screenSize" android:exported="true" android:name="com.gakk.noorlibrary.ui.activity.MainActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:configChanges="keyboardHidden|orientation|uiMode|screenSize" android:name="com.gakk.noorlibrary.ui.activity.DetailsActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:launchMode="singleInstance" android:name="com.gakk.noorlibrary.ui.activity.SubscriptionBrowserActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:launchMode="singleInstance" android:name="com.gakk.noorlibrary.ui.activity.PreRegistrationBrowserActivity" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:configChanges="orientation|screenLayout|screenSize|smallestScreenSize" android:name="com.gakk.noorlibrary.ui.activity.VideoPlayerHomeActivity" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:configChanges="orientation|screenLayout|screenSize|smallestScreenSize" android:name="com.gakk.noorlibrary.ui.fragments.islamicboyan.BoyanVideoActivity" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:configChanges="orientation|screenLayout|screenSize|smallestScreenSize" android:name="com.gakk.noorlibrary.ui.fragments.youtubevideo.YoutubeVideoActivity" android:theme="@style/AppTheme.NoActionBar"/>
        <meta-data android:name="android.supports_size_changes" android:value="true"/>
        <receiver android:name="com.gakk.noorlibrary.ui.fragments.NotificationClickReceiver"/>
        <receiver android:enabled="true" android:exported="false" android:name="com.gakk.noorlibrary.callbacks.libs.media3.QuranPlayerBroadcast">
            <intent-filter>
                <action android:name="prev_action"/>
                <action android:name="play_action"/>
                <action android:name="next_action"/>
                <action android:name="stop_action"/>
            </intent-filter>
        </receiver>
        <provider android:authorities="net.omobio.robisc.noorlibrary.provider" android:exported="false" android:grantUriPermissions="true" android:name="com.gakk.noorlibrary.util.NoorFileProvider">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/filepaths"/>
        </provider>
        <meta-data android:name="com.google.mlkit.vision.DEPENDENCIES" android:value="barcode"/>
        <activity android:name="io.github.g00fy2.quickie.QRScannerActivity" android:screenOrientation="behind" android:theme="@style/QuickieScannerActivity"/>
        <provider android:authorities="net.omobio.robisc.clevertap.fileprovider" android:exported="false" android:grantUriPermissions="true" android:name="com.clevertap.android.sdk.CleverTapFileProvider">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/clevertap_notification_file_paths"/>
        </provider>
        <activity android:configChanges="keyboardHidden" android:name="com.clevertap.android.sdk.InAppNotificationActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity android:configChanges="keyboardHidden" android:name="com.clevertap.android.sdk.inbox.CTInboxActivity" android:theme="@style/CTInboxActivityTheme"/>
        <receiver android:enabled="true" android:exported="false" android:name="com.clevertap.android.sdk.pushnotification.CTPushNotificationReceiver"/>
        <receiver android:exported="true" android:name="com.clevertap.android.sdk.pushnotification.fcm.CTFirebaseMessagingReceiver" android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter android:priority="-1">
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
            </intent-filter>
        </receiver>
        <service android:exported="false" android:name="com.moengage.richnotification.internal.MoERichPushIntentService"/>
        <receiver android:exported="false" android:name="com.moengage.richnotification.internal.MoERichPushReceiver"/>
        <activity android:banner="@drawable/moengage_inapp_close" android:exported="false" android:name="com.moengage.inapp.internal.activity.MoEInAppActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"/>
        <activity android:name="com.facebook.CustomTabMainActivity"/>
        <service android:enabled="true" android:exported="false" android:name="androidx.credentials.playservices.CredentialProviderMetadataHolder">
            <meta-data android:name="androidx.credentials.CREDENTIAL_PROVIDER_KEY" android:value="androidx.credentials.playservices.CredentialProviderPlayServicesImpl"/>
        </service>
        <activity android:configChanges="keyboardHidden|orientation|screenLayout|screenSize" android:enabled="true" android:exported="false" android:fitsSystemWindows="true" android:name="androidx.credentials.playservices.HiddenActivity" android:theme="@style/Theme.Hidden"/>
        <activity android:configChanges="keyboardHidden|orientation|screenLayout|screenSize" android:enabled="true" android:exported="false" android:fitsSystemWindows="true" android:name="androidx.credentials.playservices.IdentityCredentialApiHiddenActivity" android:theme="@style/Theme.Hidden"/>
        <service android:enabled="false" android:exported="false" android:name="androidx.camera.core.impl.MetadataHolderService">
            <meta-data android:name="androidx.camera.core.impl.MetadataHolderService.DEFAULT_CONFIG_PROVIDER" android:value="androidx.camera.camera2.Camera2Config$DefaultProvider"/>
        </service>
        <activity android:exported="true" android:label="@string/moe_debugger_activity_label" android:name="com.moengage.sdk.debugger.MoEDebuggerActivity" android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="debugger" android:scheme="moengage"/>
            </intent-filter>
        </activity>
        <activity android:exported="false" android:name="com.moengage.pushbase.internal.activity.PermissionActivity" android:theme="@style/MoEPushPermissionTheme"/>
        <receiver android:exported="false" android:name="com.moengage.pushbase.internal.MoEPushReceiver"/>
        <activity android:configChanges="orientation|screenSize" android:name="com.moengage.pushbase.activities.PushTracker" android:noHistory="true" android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"/>
        <activity android:configChanges="orientation|screenSize" android:excludeFromRecents="true" android:launchMode="singleInstance" android:name="com.moengage.pushbase.activities.PushClickDialogTracker" android:taskAffinity="" android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"/>
        <service android:exported="false" android:name="com.moengage.pushbase.internal.MoEPushWorker"/>
        <service android:directBootAware="true" android:exported="false" android:name="com.google.mlkit.common.internal.MlKitComponentDiscoveryService">
            <meta-data android:name="com.google.firebase.components:com.google.mlkit.vision.barcode.internal.BarcodeRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.mlkit.vision.common.internal.VisionCommonRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.mlkit.common.internal.CommonComponentRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
        </service>
        <provider android:authorities="net.omobio.robisc.mlkitinitprovider" android:exported="false" android:initOrder="99" android:name="com.google.mlkit.common.internal.MlKitInitProvider"/>
        <uses-library android:name="org.apache.http.legacy" android:required="false"/>
        <activity android:excludeFromRecents="true" android:exported="false" android:name="com.google.android.gms.auth.api.signin.internal.SignInHubActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <service android:exported="true" android:name="com.google.android.gms.auth.api.signin.RevocationBoundService" android:permission="com.google.android.gms.auth.api.signin.permission.REVOCATION_NOTIFICATION" android:visibleToInstantApps="true"/>
        <service android:directBootAware="true" android:exported="false" android:name="com.google.firebase.components.ComponentDiscoveryService">
            <meta-data android:name="com.google.firebase.components:com.google.firebase.dynamiclinks.FirebaseDynamicLinksKtxRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.dynamiclinks.internal.FirebaseDynamicLinkRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.messaging.ktx.FirebaseMessagingLegacyRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.messaging.FirebaseMessagingKtxRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.messaging.FirebaseMessagingRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.crashlytics.FirebaseCrashlyticsKtxRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.crashlytics.CrashlyticsRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.analytics.connector.internal.AnalyticsConnectorRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.sessions.FirebaseSessionsRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.installations.FirebaseInstallationsKtxRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.installations.FirebaseInstallationsRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.ktx.FirebaseCommonLegacyRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.FirebaseCommonKtxRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.datatransport.TransportRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
        </service>
        <receiver android:exported="true" android:name="com.google.firebase.iid.FirebaseInstanceIdReceiver" android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
            </intent-filter>
            <meta-data android:name="com.google.android.gms.cloudmessaging.FINISHED_AFTER_HANDLED" android:value="true"/>
        </receiver>
        <service android:directBootAware="true" android:exported="false" android:name="com.google.firebase.messaging.FirebaseMessagingService">
            <intent-filter android:priority="-500">
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <receiver android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementReceiver"/>
        <service android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementService"/>
        <service android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementJobService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <activity android:exported="false" android:name="com.google.android.gms.common.api.GoogleApiActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <service android:enabled="true" android:exported="false" android:name="com.google.firebase.sessions.SessionLifecycleService"/>
        <provider android:authorities="net.omobio.robisc.firebaseinitprovider" android:directBootAware="true" android:exported="false" android:initOrder="100" android:name="com.google.firebase.provider.FirebaseInitProvider"/>
        <service android:directBootAware="false" android:enabled="@bool/enable_system_alarm_service_default" android:exported="false" android:name="androidx.work.impl.background.systemalarm.SystemAlarmService"/>
        <service android:directBootAware="false" android:enabled="@bool/enable_system_job_service_default" android:exported="true" android:name="androidx.work.impl.background.systemjob.SystemJobService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <service android:directBootAware="false" android:enabled="@bool/enable_system_foreground_service_default" android:exported="false" android:name="androidx.work.impl.foreground.SystemForegroundService"/>
        <receiver android:directBootAware="false" android:enabled="true" android:exported="false" android:name="androidx.work.impl.utils.ForceStopRunnable$BroadcastReceiver"/>
        <receiver android:directBootAware="false" android:enabled="false" android:exported="false" android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$BatteryChargingProxy">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED"/>
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="false" android:exported="false" android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$BatteryNotLowProxy">
            <intent-filter>
                <action android:name="android.intent.action.BATTERY_OKAY"/>
                <action android:name="android.intent.action.BATTERY_LOW"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="false" android:exported="false" android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$StorageNotLowProxy">
            <intent-filter>
                <action android:name="android.intent.action.DEVICE_STORAGE_LOW"/>
                <action android:name="android.intent.action.DEVICE_STORAGE_OK"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="false" android:exported="false" android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$NetworkStateProxy">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="false" android:exported="false" android:name="androidx.work.impl.background.systemalarm.RescheduleReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.TIME_SET"/>
                <action android:name="android.intent.action.TIMEZONE_CHANGED"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="@bool/enable_system_alarm_service_default" android:exported="false" android:name="androidx.work.impl.background.systemalarm.ConstraintProxyUpdateReceiver">
            <intent-filter>
                <action android:name="androidx.work.impl.background.systemalarm.UpdateProxies"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="true" android:exported="true" android:name="androidx.work.impl.diagnostics.DiagnosticsReceiver" android:permission="android.permission.DUMP">
            <intent-filter>
                <action android:name="androidx.work.diagnostics.REQUEST_DIAGNOSTICS"/>
            </intent-filter>
        </receiver>
        <service android:directBootAware="true" android:exported="false" android:name="androidx.room.MultiInstanceInvalidationService"/>
        <provider android:authorities="net.omobio.robisc.FacebookInitProvider" android:exported="false" android:name="com.facebook.internal.FacebookInitProvider"/>
        <receiver android:exported="false" android:name="com.facebook.CurrentAccessTokenExpirationBroadcastReceiver">
            <intent-filter>
                <action android:name="com.facebook.sdk.ACTION_CURRENT_ACCESS_TOKEN_CHANGED"/>
            </intent-filter>
        </receiver>
        <receiver android:exported="false" android:name="com.facebook.AuthenticationTokenManager$CurrentAuthenticationTokenChangedBroadcastReceiver">
            <intent-filter>
                <action android:name="com.facebook.sdk.ACTION_CURRENT_AUTHENTICATION_TOKEN_CHANGED"/>
            </intent-filter>
        </receiver>
        <uses-library android:name="androidx.window.extensions" android:required="false"/>
        <uses-library android:name="androidx.window.sidecar" android:required="false"/>
        <uses-library android:name="android.ext.adservices" android:required="false"/>
        <service android:exported="false" android:name="com.google.android.datatransport.runtime.backends.TransportBackendDiscovery">
            <meta-data android:name="backend:com.google.android.datatransport.cct.CctBackendFactory" android:value="cct"/>
        </service>
        <receiver android:directBootAware="false" android:enabled="true" android:exported="true" android:name="androidx.profileinstaller.ProfileInstallReceiver" android:permission="android.permission.DUMP">
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.INSTALL_PROFILE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.SKIP_FILE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.SAVE_PROFILE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.BENCHMARK_OPERATION"/>
            </intent-filter>
        </receiver>
        <service android:exported="false" android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.JobInfoSchedulerService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <receiver android:exported="false" android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.AlarmManagerSchedulerBroadcastReceiver"/>
        <provider android:authorities="net.omobio.robisc.adjust-lifecycle-provider" android:exported="false" android:name="com.adjust.sdk.SystemLifecycleContentProvider"/>
        <service android:exported="false" android:name="com.moengage.rtt.internal.RttIntentService"/>
        <receiver android:enabled="true" android:exported="false" android:name="com.moengage.rtt.internal.RttReceiver"/>
        <service android:name="com.moengage.rtt.internal.RttSyncJob" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <activity android:exported="false" android:name="com.google.android.play.core.common.PlayCoreDialogWrapperActivity" android:stateNotNeeded="true" android:theme="@style/Theme.PlayCore.Transparent"/>
        <service android:name="com.moengage.core.internal.data.reports.DataSyncJob" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <activity android:exported="false" android:label="@string/moe_core_rich_landing_title" android:name="com.moe.pushlibrary.activities.MoEActivity" android:theme="@android:style/Theme.NoTitleBar"/>
        <service android:name="com.moengage.trigger.evaluator.internal.CampaignEvaluationJob" android:permission="android.permission.BIND_JOB_SERVICE"/>
    </application>
</manifest>
